<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933189481718-6je7bqtmsg6bhfpr56f29fbej6ojpv7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933189481718-6je7bqtmsg6bhfpr56f29fbej6ojpv7s</string>
	<key>API_KEY</key>
	<string>AIzaSyDjfC6MoI9UHRBP4ku9beKtqA9GvNO2C7g</string>
	<key>GCM_SENDER_ID</key>
	<string>933189481718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobile</string>
	<key>PROJECT_ID</key>
	<string>codeui-node</string>
	<key>STORAGE_BUCKET</key>
	<string>codeui-node.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933189481718:ios:cb6c4f1a24200faae328d7</string>
</dict>
</plist>